{
    "bracketSpacing": false,
    "printWidth": 120,
    "quoteProps": "preserve",
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "useTabs": false,

    "overrides": [
        {
            "files": "*.hbs",
            "options": {
                "arrowParens": "always",
                "bracketSpacing": false,
                "endOfLine": "lf",
                "printWidth": 140,
                "semi": false,
                "trailingComma": "all",
                "useTabs": false,
                "parser": "angular",
                "singleQuote": false
            }
        },
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
