$padding-sm: 5px;
$padding-md: 10px;
$padding-lg: 20px;

$image-url-d20-black: url(/systems/hm3/images/icons/svg/d20-black.svg);
$image-url-d20-grey: url(/systems/hm3/images/icons/svg/d20-grey.svg);
$image-url-searchicon: url(/systems/hm3/images/png/searchicon.png);
