<form id="container-size">
    <div class="form-group flexrow">
        <label for="maxCapacity">Maximum Capacity:</label>
        <input
            type="number"
            id="maxCapacity"
            name="maxCapacity"
            placeholder="0" />
    </div>
</form>
