<form>
    {{#if isAbility}}
    <div class="form-group">
        <label>Eff Ability Base:</label>
        <input readonly type="text" name="effSkillBase" value="{{effSkillBase}}" />
    </div>
    <div class="form-group">
      <label>Multiplier:</label>
      <select name="multipliers">
          {{selectOptions multipliers selected=multiplier valueAttr="key" labelAttr="label"}}
      </select>
    </div>
    {{else}}
    <div class="form-group">
        <label>Target:</label>
        <input readonly type="text" name="target" value="{{target}}" />
    </div>
    {{/if}}
    {{#if isPhysician}}
    <div class="form-group">
      <label>Physician ({{physicianMod}}):</label>
      <input type="text" name="physicianModifier" value="{{physicianModifier}}" />
    </div>
    {{/if}}
    <div class="form-group">
        <label>Modifier:</label>
        <input type="text" name="modifier" value="{{modifier}}" />
    </div>
    {{#if isCraftOrLore}}
    <div class="form-group">
        <label>Analysis / Appraisal?</label>
        <input type="checkbox" name="appraisal" />
    </div>
    {{/if}}
</form>
