{{#if isEsotericCombat}}
{{#if isGM}}
<div class="resource-block">
    <div class="resource">
        <label class="resource-label">Attack Option</label>
        <span class="resource-span">
            <input type="checkbox" name="system.isEquipped" {{ checked idata.isEquipped }} />
        </span>
    </div>
</div>
{{/if}}
{{/if}}
