<div class="resource-block">
    <div class="grid grid-fixed-row grid-1col">
        <div class="resource">
            <label
                for="system.source"
                class="resource-label">
                Source
            </label>
            <input class="value" type="text" id="system.source" name="system.source" value="{{ idata.source }}" data-dtype="String"
            {{#unless (and hasRwPermission editable)}}disabled{{/unless}} />
        </div>
    </div>
    <div class="grid grid-fixed-row grid-1col">
        <div class="resource">
            <label
                for="system.notes"
                class="resource-label">
                Note
            </label>
            <input class="value" type="text" id="system.notes" name="system.notes" value="{{ idata.notes }}" data-dtype="String"
            {{#unless editable}}disabled{{/unless}} />
        </div>
    </div>
</div>
