<div class="resource-block">
    <div class="resource">
        <label for="system.source" class="resource-label">Source</label>
        <input type="text" id="system.source" name="system.source" value="{{ idata.source }}" data-dtype="String"
        {{#unless hasRwPermission}}disabled{{/unless}} />
    </div>
    <div class="resource">
        <label for="system.notes" class="resource-label">Note</label>
        <input type="text" id="system.notes" name="system.notes" value="{{ idata.notes }}" data-dtype="String" />
    </div>
</div>
