#chat-form {
    textarea {
        background: url(/systems/hm3/ui/background.webp) no-repeat;
        background-size: cover;
        color: $hm3-text;
    }
}

.chat-message {
    background: url(/systems/hm3/ui/background.webp) no-repeat;
    background-size: cover;
    color: $hm3-text;
}

.chat-message.emote {
    background: url(/systems/hm3/ui/background.webp) no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(243, 237, 222, 0.6);
}

.chat-message.whisper {
    background: url(/systems/hm3/ui/background.webp) no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(232, 232, 239, 0.6);
}

.chat-message.blind {
    background: url(/systems/hm3/ui/background.webp) no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(245, 234, 245, 0.6);
}

.chat-card {
    font-style: normal;
    color: $hm3-text;

    .card-header {
        text-align: center;
        padding: 3px 0;
        border-top: 2px groove #fff;
        border-bottom: 2px groove #fff;
        background-color: $hm3-header-bg;

        h3 {
            flex: 1;
            margin: 0;
            line-height: 25px;
            font-family: $font-headers-chat;
            font-size: 20px;
            font-weight: 550;
            color: $hm3-header;
        }

        h4 {
            flex: 1;
            margin: 0;
            line-height: 20px;
            font-family: $font-headers-chat;
            font-size: 15px;
            font-weight: 550;
            color: $hm3-header;
        }

        h3:hover {
            color: #111;
            text-shadow: 0 0 10px $hm3-hover-color;
        }
    }

    .mingap {
        gap: 3px;
    }

    .header {
        text-align: center;
        font-weight: bold;
    }

    .center {
        text-align: center;
    }

    .result-desc {
        color: $hm3-standard;
        padding: 2px 0;
    }

    .weapon-broke {
        text-align: center;
        padding: 2px 0;
    }

    .card-content {
        margin: 5px 0;

        h3 {
            font-size: 12px;
            margin: 0;
            font-weight: bold;
        }

        .label {
            font-weight: bold;
            padding-right: 5px;
            text-align: right;
        }

        .value {
            text-align: left;
        }
    }

    .precipitation {
        border-top: 2px groove #e2d0d2;
        margin-top: 7px;
        padding-top: 7px;
    }

    .card-note {
        padding: 3px 0;
        // border-top: 2px groove #fff;
        color: $hm3-standard;
        text-align: center;
    }

    .card-footer {
        padding: 3px 0;
        border-top: 2px groove #fff;
        text-align: center;
    }

    .success-block {
        padding: 5px 0;
        color: $hm3-success;
    }

    .failure-block {
        padding: 5px 0;
        color: $hm3-failure;
    }

    .critical-success-block {
        background-color: $hm3-success-bg;
        padding: 5px 0;
        color: white;
    }

    .critical-failure-block {
        background-color: $hm3-failure-bg;
        padding: 5px 0;
        color: white;
    }

    .success-text {
        color: $hm3-success;
    }

    .failure-text {
        color: $hm3-failure;
    }

    .note {
        font-style: italic;
    }

    .notice-header {
        border-top: 2px groove;
        border-bottom: 2px groove;
        color: $neutral-4;
        padding: 2px 0;
        text-align: center;
    }

    .notice-body {
        color: $hm3-failure;
        text-align: center;
    }

    .emphasize-text {
        font-style: italic;
    }

    &.gmsays {
        h1,
        blockquote {
            border-left: none;
            color: $hm3-text;
            font-size: large;
            font-style: normal;
            margin: auto;
            text-align: center;
        }

        blockquote p {
            font-size: large;
            margin: 0;
        }

        blockquote p:empty {
            margin: 0;
            min-height: 0;
        }

        blockquote h4 {
            font-size: larger;
            font-variant-caps: small-caps;
            margin: 0;
        }

        blockquote cite {
            color: $hm3-text;
            font-size: medium;
            font-style: normal;
            font-variant-caps: small-caps;
            margin-top: 1rem;
        }

        blockquote p b {
            color: $header-0;
            font-variant-caps: small-caps;
        }

        blockquote::before,
        blockquote::after {
            content: '';
            align-self: center;
            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-6%200%2012%204%22%3E%3Ctext%20x%3D%220%22%20y%3D%222%22%20text-anchor%3D%22middle%22%20font-family%3D%22Georgia%22%20font-size%3D%223%22%20fill%3D%22hsl%28353%2C%2045%25%2C%2030%25%29%22%3E%E2%80%9E%3C%2Ftext%3E%3Cg%20stroke-width%3D%220.1%22%20stroke%3D%22hsl%28353%2C%2045%25%2C%2030%25%29%22%3E%3Cline%20x1%3D%226%22%20x2%3D%221.5%22%20y1%3D%222%22%20y2%3D%222%22%2F%3E%3Cline%20x1%3D%22-6%22%20x2%3D%22-1.5%22%20y1%3D%222%22%20y2%3D%222%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
            /* <svg xmlns="http://www.w3.org/2000/svg" viewBox="-6 0 12 4"><text x="0" y="2" text-anchor="middle" font-family="Georgia" font-size="3" fill="hsl(353 60% 60%)">„</text><g stroke-width="0.1" stroke="hsl(353 60% 60%)"><line x1="6" x2="1.5" y1="2" y2="2"/><line x1="-6" x2="-1.5" y1="2" y2="2"/></g></svg> */
            background-position: center;
            background-repeat: no-repeat;
            display: block;
            height: 2em;
            width: 100%;
        }

        blockquote:lang(en)::before,
        blockquote:lang(de)::after {
            transform: rotate(0.5turn);
        }
    }
}

.fluff {
    color: $hm3-standard;

    p {
        font-style: italic;
        text-align: center;
    }

    p:first-child {
        border-top: 2px groove $shadow-3;
        margin-top: 15px;
        padding-top: 10px;
    }

    p:last-child {
        border-bottom: 2px groove $shadow-3;
        margin-bottom: 15px;
        padding-bottom: 10px;
    }
}
