#chat-form {
    textarea {
        background: url(/systems/hm3/ui/background.webp) no-repeat;
        background-size: cover;
    }
}

.chat-message {
    background: url(/systems/hm3/ui/background.webp) no-repeat;
    background-size: cover;
}

.chat-message.emote {
    background: url(/systems/hm3/ui/background.webp) no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(243, 237, 222, 0.6);
}

.chat-message.whisper {
    background: url(/systems/hm3/ui/background.webp) no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(232, 232, 239, 0.6);
}

.chat-message.blind {
    background: url(/systems/hm3/ui/background.webp) no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(245, 234, 245, 0.6);
}

.chat-card {
    font-style: normal;
    // font-size: 15px;

    .card-header {
        text-align: center;
        padding: 3px 0;
        border-top: 2px groove #fff;
        border-bottom: 2px groove #fff;
        background-color: $header-bg-1;
        color: #111;

        h3 {
            flex: 1;
            margin: 0;
            line-height: 25px;
            font-family: $font-headers;
            font-size: 20px;
            font-weight: 700;
            color: #4b4a44;
        }

        h4 {
            flex: 1;
            margin: 0;
            line-height: 20px;
            font-family: $font-headers;
            font-size: 16px;
            font-weight: 700;
            color: #4b4a44;
        }

        h3:hover {
            color: #111;
            text-shadow: 0 0 10px $hover-color;
        }
    }

    .mingap {
        gap: 3px;
    }

    .header {
        text-align: center;
        font-weight: bold;
    }

    .center {
        text-align: center;
    }

    .result-desc {
        color: $highlight-1;
        padding-top: 2px;
        padding-bottom: 2px;
        // font-weight: bold;
    }

    .weapon-broke {
        text-align: center;
        color: red;
        padding-top: 2px;
        padding-bottom: 2px;
        font-weight: bold;
    }

    .card-content {
        margin: 5px 0;

        h3 {
            font-size: 12px;
            margin: 0;
            font-weight: bold;
        }

        .label {
            font-weight: bold;
            padding-right: 5px;
            text-align: right;
        }

        .value {
            text-align: left;
        }
    }

    .card-footer {
        padding: 3px 0 0;
        border-top: 2px groove #fff;
        text-align: center;
        // font-size: 16px;
    }

    .critical-success-block {
        background-color: $green-bg-1;
        padding-top: 5px;
        padding-bottom: 5px;
        color: white;
    }

    .critical-failure-block {
        background-color: $red-bg-1;
        padding-top: 5px;
        padding-bottom: 5px;
        color: white;
    }

    .critical-success-text {
        color: $green-1;
        font-weight: bold;
    }

    .critical-failure-text {
        color: red;
        font-weight: bold;
    }

    .note {
        font-style: italic;
    }

    .notice-header {
        border-top: 2px groove;
        color: $neutral-4;
        padding-top: 2px;
        padding-bottom: 2px;
        text-align: center;
        // font-weight: bold;
    }

    .notice-body {
        color: red;
        text-align: center;
    }

    .success-text {
        padding-top: 5px;
        padding-bottom: 5px;
        color: $green-1;
        font-weight: bold;
    }

    .failure-text {
        padding-top: 5px;
        padding-bottom: 5px;
        color: red;
    }

    .emphasize-text {
        font-style: italic;
    }

    .fluff {
        p {
            font-style: italic;
            text-align: center;
        }

        p:first-child {
            padding-top: 10px;
        }

        p:last-child {
            padding-bottom: 10px;
        }
    }
}
