/*.window-app {
  font-family: $font-primary;
}*/

.rollable {
    &:hover,
    &:focus {
        color: #000;
        text-shadow: 0 0 10px $hover-color;
        cursor: pointer;
    }
}

.app {
    background: url(/systems/hm3/ui/denim075.png) repeat;
}

.window-app .window-content {
    background: url(/systems/hm3/ui/background.webp) no-repeat;
    background-size: cover;
    max-width: 950px;
}

.dialog .dialog-buttons button.default,
.dialog .dialog-buttons button {
    background: $neutral-3;
    box-shadow: 0.25rem 0.25rem 0 $header-bg-1;
    color: $header-1;
    border-radius: 0;
    border: 1px solid $highlight-1;
}

button,
.dialog-buttons {
    background: $neutral-3;
    box-shadow: 0.25rem 0.25rem 0 $header-bg-1;
    color: $header-1;
    border-radius: 0;
    border: 1px solid $highlight-1;
}

.dialog-buttons button:hover,
.dialog-buttons button.default:hover {
    box-shadow: 0.125rem 0.125rem 0 $header-bg-1;
    background-color: $neutral-2;
}

a:hover {
    text-shadow: 0 0 10px $hover-color;
}

.sheet.journal-entry .journal-entry-content {
    background: url(/systems/hm3/ui/background.webp) no-repeat;
    background-size: cover;
}
