{{#if item.derived.canBeEsotericCombat}}
{{#if isEsotericCombat}}
<div class="resource flexrow">
    <input
        type="checkbox"
        id="system.isEquipped"
        name="system.isEquipped"
        value="{{ idata.isEquipped }}"
        data-dtype="Boolean"
        {{
        checked
        idata.isEquipped
        }} />
    <label
        for="system.isEquipped"
        class="resource-label">
        Attack Option
    </label>
    If checked, the item can be used for Esoteric Attacks.
</div>
{{/if}}
{{/if}}
