<div class="resource">
    <label
        for="system.quantity"
        class="resource-label">
        Quantity
    </label>
    <input class="value" type="number" id="system.quantity" name="system.quantity" value="{{ idata.quantity }}" data-dtype="Number"
    {{#unless editable}}disabled{{/unless}} />
</div>
