<div class="resource">
    <label class="resource-label">Weight</label>
    {{#if (and hasRwPermission editable)}}
    <input
        class="value"
        type="number"
        name="system.weight"
        value="{{ iproxy.weight }}"
        data-dtype="Number" />
    {{else}}
    <span>{{ iproxy.weight }} lbs</span>
    {{/if}}
</div>
