<div class="hm3 chat-card item-card" data-actor-id="{{actorId}}">
    {{#if fluff}}
    <div class="fluff">
        {{{fluff}}}
    </div>
    {{/if}}

    <header class="card-header flexrow">
        <h3 class="title">{{title}}</h3>
    </header>

    {{#if notes}}
    <div class="card-note">
        <span>{{notes}}</span>
    </div>
    {{/if}}

    {{#if (gt modifier 0)}}
    <div class="card-content">
        <span class="label">Original Target:</span>
        <span class="value">{{origTarget}}</span>
    </div>

    <div class="card-content">
        <span class="label">Modifier:</span>
        <span class="value">{{plusMinus}}{{modifier}}</span>
    </div>

    <div class="card-content">
        <span class="label">Effective Target:</span>
        <span class="value">{{origTarget}} {{plusMinus}} {{modifier}} = <strong>{{modifiedTarget}}</strong></span>
    </div>
    {{else}}
    <div class="card-content">
        <span class="label">Target:</span>
        <span class="value">{{modifiedTarget}}</span>
    </div>
    {{/if}}

    <div class="card-content">
        <span class="label">Roll:</span>
        {{#if isSuccess}}
            <span class="value success-text">{{#if showResult}}{{rollResult}} = {{/if}}{{rollValue}}</span>
        {{else}}
            <span class="value failure-text">{{#if showResult}}{{rollResult}} = {{/if}}{{rollValue}}</span>
        {{/if}}
    </div>

    {{#if isSuccess}}
        {{#if isCritical}}
        <footer class="card-footer critical-success-block">
            <span>{{description}}</span>
        </footer>
        {{else}}
        <footer class="card-footer success-text">
            <span>{{description}}</span>
        </footer>
        {{/if}}
    {{else}}
        {{#if isCritical}}
        <footer class="card-footer critical-failure-block">
            <span>{{description}}</span>
        </footer>
        {{else}}
        <footer class="card-footer failure-text">
            <span>{{description}}</span>
        </footer>
        {{/if}}
    {{/if}}
    </footer>

    {{#if addlInfo}}
    <div class="card-content center">
        <span class="result-desc">{{addlInfo}}</span>
    </div>
    {{/if}}

    {{#if fluffResult}}
    <div class="fluff">
        {{{fluffResult}}}
    </div>
    {{/if}}

    {{#if ota}}
    <div class="card-buttons">
        {{#if ota}}
        <button data-action="ota-attack" data-visible-actor-id="{{visibleActorId}}" data-atk-token-id="{{atkTokenId}}">Initiate TA Attack</button>
        <!-- <button data-action="ata-attack"  data-visible-actor-id="{{visibleAtkActorId}}" data-atk-token-id="{{atkTokenId}}" data-def-token-id="{{defTokenId}}">Initiate TA Attack</button> -->
        {{/if}}
    </div>
    {{/if}}
</div>
