.effects {
    .disabled {
        color: $hm3-label-disabled;
    }

    .effects-list {
        list-style: none;
        margin: 7px 0;
        padding: 0;
        overflow-y: hidden;
        color: $hm3-text;

        .effects-header {
            margin: 2px 0;
            padding: 0;
            align-items: center;
            background: $hm3-table-header-bg;
            border: 2px groove #eeede0;
            font-weight: bold;
            line-height: 24px;

            h3 {
                margin: 0;
                padding-left: 5px;
                font-family: $font-headers;
                font-size: 20px;
                font-weight: 700;
                font-size: 16px;
            }

            .effect-name {
                // color: #191813;
                border-right: 1px solid #c9c7b8;

                i {
                    font-size: 12px;
                    padding-left: 5px;
                }
            }

            .effect-controls {
                flex: 0 0 45px;
                text-align: right;
                padding-right: 5px;
                color: #9a998f;

                .active {
                    color: #4b4a44;
                }
            }
        }

        .effect-list {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .effect {
            line-height: 30px;
            padding: 0 2px;
            border-bottom: 1px solid #c9c7b8;

            .effect-image {
                flex: 0 0 30px;
                background-size: 30px;
                margin-right: 5px;
            }

            img {
                display: block;
            }

            .effect-name {
                cursor: pointer;
                max-height: 30px;
                overflow: hidden;
                border-right: 1px solid #c9c7b8;

                h4 {
                    margin: 0;
                    white-space: nowrap;
                    overflow-x: hidden;
                }
            }
        }

        .effect:last-child {
            border-bottom: none;
        }

        .effect-detail {
            font-size: 12px;
            color: #7a7971;
            border-right: 1px solid #c9c7b8;
            word-break: break-word;
            white-space: nowrap;
            overflow: hidden;
        }

        .effect-ele {
            padding-left: 5px;
            border-right: 1px solid #c9c7b8;
        }

        .effect-duration {
            flex: 0 0 100px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .effect-source {
            flex: 0 0 100px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .effect-changes {
            flex: 1 0 60px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .effect-controls {
            flex: 0 0 45px;
            text-align: right;

            .effect-control {
                flex: 0 0 22px;
                font-size: 12px;
                text-align: right;
                color: #9a998f;

                &.disable:hover {
                    text-shadow: unset;
                }
            }

            &.effect-control.disable:hover {
                text-shadow: unset;
            }

            .effect-equip {
                color: #9a998f;
            }

            .active {
                color: #4b4a44;
            }
        }

        .effect-controls-wide {
            flex: 0 0 65px;
            text-align: right;

            .effect-control {
                flex: 0 0 22px;
                font-size: 12px;
                text-align: right;
                color: #9a998f;
            }

            .effect-equip {
                color: #9a998f;
            }

            .active {
                color: #4b4a44;
            }
        }
    }

    input[type='text'].effects-name-filter {
        background-image: url('../images/png/searchicon.png');
        background-size: contain;
        background-position: 5px -1px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 15px;
        padding: 5px 0px 5px 40px;
        border: 2px groove #eeede0;
        margin-top: 5px;
    }
}

.v2 {
    .effects {
        .effects-list {
            .effects-header {
                background: $header-background; // $hm3-text;
                border-radius: 2px;
                border: none;
                color: white;
                font-family: $font-primary;
                font-size: 18px;
                font-variant: small-caps;
                font-weight: 550;

                h3.effect-name {
                    border: none;
                    color: white;
                    font-family: $font-primary;
                    font-size: 18px;
                    font-variant: small-caps;
                    font-weight: 550;
                }

                .effect-controls {
                    color: white;
                    // flex: 0 0 50px;
                    font-size: 12px;
                    font-weight: 550;

                    .active {
                        color: white;
                    }
                }
            }

            .effect-name,
            .effect-duration,
            .effect-changes {
                border: none;
            }
        }
    }
}
