.facade {
    img.facade-image {
        background: transparent;
        border: none;
        flex: 0 0 200px;
        object-fit: contain;
    }

    .facade-description {
        margin-left: 5px;
    }
}
