.facade {
    img.facade-image {
        background: transparent;
        border: none;
        flex: 0 0 200px;
        margin-top: 15px;
        object-fit: contain;
    }

    .facade-description {
        margin: 5px 15px;
        text-align: justify;
    }
}
