.macros {
    .disabled {
        color: #9a998f;
    }

    .macros-list {
        list-style: none;
        margin: 7px 0;
        padding: 0;
        overflow-y: hidden;

        .macros-header {
            margin: 2px 0;
            padding: 0;
            align-items: center;
            background: rgba(0, 0, 0, 0.05);
            border: 2px groove #eeede0;
            font-weight: bold;
            line-height: 24px;

            h3 {
                margin: 0;
                padding-left: 5px;
                font-family: $font-headers;
                font-size: 20px;
                font-weight: 700;
                font-size: 16px;
            }

            .macro-name {
                color: #191813;
                border-right: 1px solid #c9c7b8;

                i {
                    font-size: 12px;
                    padding-left: 5px;
                }
            }

            .macro-controls {
                flex: 0 0 45px;
                text-align: right;
                padding-right: 5px;
                color: #9a998f;

                .active {
                    color: #4b4a44;
                }
            }
        }

        .macro-list {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .macro {
            line-height: 30px;
            padding: 0 2px;
            border-bottom: 1px solid #c9c7b8;

            .macro-image {
                flex: 0 0 30px;
                background-size: 30px;
                margin-right: 5px;
            }

            img {
                display: block;
            }

            .macro-name {
                cursor: pointer;
                max-height: 30px;
                overflow: hidden;
                border-right: 1px solid #c9c7b8;

                h4 {
                    margin: 0;
                    white-space: nowrap;
                    overflow-x: hidden;
                }
            }
        }

        .macro:last-child {
            border-bottom: none;
        }

        .macro-detail {
            font-size: 12px;
            color: #7a7971;
            border-right: 1px solid #c9c7b8;
            word-break: break-word;
            white-space: nowrap;
            overflow: hidden;
        }

        .macro-ele {
            padding-left: 5px;
            border-right: 1px solid #c9c7b8;
        }

        .macro-duration {
            flex: 0 0 100px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .macro-source {
            flex: 0 0 100px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .macro-changes {
            flex: 1 0 60px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .macro-controls {
            flex: 0 0 45px;
            text-align: right;

            .macro-control {
                flex: 0 0 22px;
                font-size: 12px;
                text-align: right;
                color: #9a998f;
            }

            .macro-equip {
                color: #9a998f;
            }

            .active {
                color: #4b4a44;
            }
        }

        .macro-controls-wide {
            flex: 0 0 65px;
            text-align: right;

            .macro-control {
                flex: 0 0 22px;
                font-size: 12px;
                text-align: right;
                color: #9a998f;
            }

            .macro-equip {
                color: #9a998f;
            }

            .active {
                color: #4b4a44;
            }
        }
    }

    input[type='text'].macros-name-filter {
        background-image: url('../images/png/searchicon.png');
        background-size: contain;
        background-position: 5px -1px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 15px;
        padding: 5px 0px 5px 40px;
        border: 2px groove #eeede0;
        margin-top: 5px;
    }
}
