.resource-block {
    margin: 15px 0px;
}

.resource {
    margin: 3px 0px;

    .disabled {
        color: $hm3-label-disabled;
    }
}

.resource-label {
    font-size: var(--font-size-15);
    font-variant: small-caps;
    font-weight: bold;
    margin: 2px 0px;
    vertical-align: middle;
}

.resource-span {
    overflow: hidden;
    vertical-align: middle;
}

.artifact {
    align-items: center;
    padding-top: 5px;
}

.item-artifact {
    color: $highlight-2;
    font-size: var(--font-size-16);
    font-variant: small-caps;
    margin: 6px 20px;
    vertical-align: middle;
}
