.tabs {
    flex: 0 0 15px;
    font-family: $font-primary;
    font-size: 19px;
    font-variant-caps: petite-caps;
    font-weight: 500;
    margin-bottom: 5px;

    .item {
        height: 30px;
        line-height: 32px;
        margin: 0 12px;
        border-bottom: 3px solid $header-2;
        color: $header-1;
    }

    .item.active {
        border-bottom: 3px solid $hm3-text;
        color: $hm3-text;
        font-size: 23px;
        // font-weight: 550;
        font-weight: bold;
        text-shadow: none;
    }
}

.sheet-body .tab {
    margin-right: 5px;
}

$tab-width: 120px;
$tab-offset: 9px;
$transition-speed: 0.4s;

$pale-factor: 110%;
$background-rotation: 160deg;
$glider-rotation: 113deg;

$parchment-darkest: hsl(20, 24%, 63%);
$parchment-darker: hsl(20, 24%, 83%);
$parchment-base: hsl(20, 24%, 93%);
$parchmenty-lighter: hsl(20, 24%, 100%);

$blue-darkest: hsl(195, 100%, 20%);
$blue-darker: hsl(195, 100%, 40%);
$blue-base: hsl(195, 100%, 50%);
$blue-lighter: hsl(195, 100%, 60%);
$blue-lightest: hsl(195, 100%, 80%);
$blue-pale: hsl(195, 100%, (50% + $pale-factor)/2);

$gold-metallic-darkest: hsl(46, 65%, 22%);
$gold-metallic-darker: hsl(46, 65%, 42%);
$gold-metallic-base: hsl(46, 65%, 52%);
$gold-metallic-lighter: hsl(46, 65%, 62%);
$gold-metallic-lightest: hsl(46, 65%, 82%);

$gold-darkest: hsl(41, 18%, 24%);
$gold-darker: hsl(41, 18%, 44%);
$gold-base: hsl(41, 18%, 54%);
$gold-lighter: hsl(41, 18%, 64%);
$gold-lightest: hsl(41, 18%, 84%);

$green-darkest: hsl(116, 36%, 26%);
$green-darker: hsl(116, 36%, 46%);
$green-base: hsl(116, 36%, 56%);
$green-lighter: hsl(116, 36%, 66%);
$green-lightest: hsl(116, 36%, 86%);
$green-pale: hsl(116, 36%, (56% + $pale-factor)/2);

$maroon-darkest: hsl(349, 62%, 8%);
$maroon-darker: hsl(349, 62%, 18%);
$maroon-base: hsl(349, 62%, 28%);
$maroon-lighter: hsl(349, 62%, 38%);
$maroon-lightest: hsl(349, 62%, 58%);
$maroon-highlight: hsl(349, 62%, 78%);

$hm3-orange-darkest: hsl(23, 100%, 33%);
$hm3-orange-darker: hsl(23, 100%, 53%);
$hm3-orange-base: hsl(23, 100%, 63%);
$hm3-orange-lighter: hsl(23, 100%, 73%);
$hm3-orange-lightest: hsl(23, 100%, 93%);
$hm3-orange-pale: hsl(23, 100%, (63% + $pale-factor)/2);

$hm3-pink-darkest: hsl(304, 100%, 54%);
$hm3-pink-darker: hsl(304, 100%, 74%);
$hm3-pink-base: hsl(304, 100%, 84%);
$hm3-pink-lighter: hsl(304, 100%, 94%);
$hm3-pink-lightest: hsl(304, 100%, 100%);
$hm3-pink-pale: hsl(304, 100%, (84% + $pale-factor)/2);

$glider-blue-shadow: 0px 0px 8px 0px hsl(262deg, 100%, 70% / 70%);
$glider-blue: linear-gradient($glider-rotation, $blue-lightest, $blue-base 20%, $blue-darker);
$glider-green-shadow: 0px 0px 8px 0px rgba(47, 187, 12, 0.62);
$glider-green: linear-gradient($glider-rotation, $green-lightest, $green-base 20%, $green-darker);
$glider-orange-shadow: 0px 0px 8px 0px hsl(17.72deg, 100%, 70% / 70%);
$glider-orange: linear-gradient($glider-rotation, $hm3-orange-lightest, $hm3-orange-base 20%, $hm3-orange-darker);
$glider-pink-shadow: 0px 0px 8px 0px rgba(231, 13, 93, 0.57);
$glider-pink: linear-gradient($glider-rotation, $hm3-pink-lightest, $hm3-pink-base 20%, $hm3-pink-darker);

$content-color: $parchment-base;
$tab-background-active: $parchment-base;
$tab-background-inactive: $parchment-darker;

$background-maroon: linear-gradient(
    $background-rotation,
    $maroon-highlight,
    $maroon-lightest 30px,
    $maroon-lighter 60px,
    $maroon-base,
    $maroon-darker
);
$background-silver: linear-gradient(45deg, #999 5%, #fff 10%, #ccc 30%, #ddd 50%, #ccc 70%, #fff 80%, #999 95%);
$background-gold: linear-gradient(
    45deg,
    $gold-darkest 5%,
    $gold-lighter 10%,
    $gold-darker 30%,
    $gold-base 50%,
    $gold-darker 70%,
    $gold-lighter 80%,
    $gold-darkest 95%
);
$background-gold-metallic: linear-gradient(
    45deg,
    $gold-metallic-darkest 5%,
    $gold-metallic-lighter 10%,
    $gold-metallic-darker 30%,
    $gold-metallic-base 50%,
    $gold-metallic-darker 70%,
    $gold-metallic-lighter 80%,
    $gold-metallic-darkest 95%
);

$sheet-background: $background-silver;
$sheet-radius: 10px 10px 10px 10px;

$properties-color: $blue-darkest;
$properties-color-pale: $blue-pale;
$description-color: $green-darkest;
$description-color-pale: $green-pale;
$macros-color: $hm3-pink-darkest;
$macros-color-pale: $hm3-pink-pale;
$effects-color: $hm3-orange-darkest;
$effects-color-pale: $hm3-orange-pale;

// Custom styles for item types
&.item.itemv2.maroon {
    background: $background-maroon;

    header {
        color: $gold-lightest;
        text-shadow: -1px 0 $gold-darkest, 0 1px $gold-darkest, 1px 0 $gold-darkest, 0 -1px $gold-darkest;
    }
}

&.item.itemv2.silver {
    background: $background-silver;

    header {
        color: $gold-darkest;
        text-shadow: -1px 0 $gold-lightest, 0 1px $gold-lightest, 1px 0 $gold-lightest, 0 -1px $gold-lightest;
    }
}

&.item.itemv2.gold {
    background: $background-gold;

    header {
        color: $gold-lightest;
        text-shadow: -1px 0 $gold-darkest, 0 1px $gold-darkest, 1px 0 $gold-darkest, 0 -1px $gold-darkest;
    }
}

// General styles for item sheets
&.item.itemv2 {
    border-radius: $sheet-radius;

    header {
        border: none;
    }

    section {
        background: transparent;
        border-radius: $sheet-radius;
        scrollbar-color: $gold-base transparent;
        scrollbar-gutter: stable;
        scrollbar-width: thin;

        form {
            .tab-header {
                // background: $content-color;
                background: linear-gradient(
                    $background-rotation,
                    $parchment-base,
                    $parchment-base 70%,
                    $parchment-darker 90%,
                    $parchment-darkest
                );
                border-radius: 5px;
                border-top: 1px solid #3b3d3f;
                box-shadow: 0 2px 3px rgb(10, 10, 10 / 10%), 0 0 0 1px rgb(10, 10, 10 / 10%);
                line-height: 20px;
                padding: 10px;
                text-align: left;
                z-index: 2;
            }

            .tab-container {
                height: 100%;
                padding: 10px 0px;
                text-align: center;
                width: 100%;

                .tab-tabs {
                    position: relative;
                    text-align: left;
                }

                input[type='radio'] {
                    margin: auto !important;
                    opacity: 0;
                    padding: 0;
                    position: relative;
                }

                input[type='radio'] + label {
                    background: $tab-background-inactive;
                    border-bottom: 0.5pt solid #1d1e22;
                    border-radius: 7px 7px 0 0 !important;
                    border-top: 1px solid #3b3d3f;
                    box-shadow: 1px 1px 2px 1px #231f20;
                    color: #777;
                    cursor: pointer;
                    display: inline-flex;
                    font-size: var(--font-size-14);
                    font-variant-caps: petite-caps;
                    // font-variant: small-caps;
                    font-weight: 700;
                    justify-content: flex-start;
                    letter-spacing: 0.1em !important;
                    margin: 12px -8px;
                    margin-bottom: 0.5px;
                    padding: 5pt 10pt;
                    text-align: center;
                    transition: all $transition-speed;
                    vertical-align: top;
                    width: $tab-width;
                }

                input[type='radio'] + label:hover {
                    color: #1d1e22;
                }

                #properties-tab:checked + label {
                    background: $tab-background-active;
                    color: $properties-color;
                }

                #description-tab:checked + label {
                    background: $tab-background-active;
                    color: $description-color;
                }

                #effects-tab:checked + label {
                    background: $tab-background-active;
                    color: $effects-color;
                }

                #macros-tab:checked + label {
                    background: $tab-background-active;
                    color: $macros-color;
                }

                #properties-tab:checked ~ .glider {
                    left: $tab-offset;
                }

                #description-tab:checked ~ .glider {
                    background: $glider-green;
                    box-shadow: $glider-green-shadow;
                    left: $tab-width + $tab-offset + 4px;
                }

                #effects-tab:checked ~ .glider {
                    background: $glider-orange;
                    box-shadow: $glider-orange-shadow;
                    left: 2 * ($tab-width + 4px) + $tab-offset;
                }

                #macros-tab:checked ~ .glider {
                    background: $glider-pink;
                    box-shadow: $glider-pink-shadow;
                    left: 3 * ($tab-width + 4px) + $tab-offset !important;
                }

                #properties-tab:checked ~ section #properties-content,
                #description-tab:checked ~ section #description-content,
                #effects-tab:checked ~ section #effects-content,
                #macros-tab:checked ~ section #macros-content {
                    opacity: 1;
                    visibility: visible;
                }

                // #properties-tab:checked ~ section.tab-content {
                //     background: linear-gradient(
                //         $background-rotation,
                //         $content-color calc(100% - 150px),
                //         $properties-color-pale
                //     );
                // }

                // #description-tab:checked ~ section.tab-content {
                //     background: linear-gradient(
                //         $background-rotation,
                //         $content-color calc(100% - 150px),
                //         $description-color-pale
                //     );
                // }

                // #effects-tab:checked ~ section.tab-content {
                //     background: linear-gradient(
                //         $background-rotation,
                //         $content-color calc(100% - 150px),
                //         $effects-color-pale
                //     );
                // }

                // #macros-tab:checked ~ section.tab-content {
                //     background: linear-gradient(
                //         $background-rotation,
                //         $content-color calc(100% - 150px),
                //         $macros-color-pale
                //     );
                // }

                .tabsShadow {
                    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.04);
                    box-sizing: border-box;
                    height: 35px;
                    padding: 10px;
                    pointer-events: none;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    z-index: 0;
                }

                .tab-card {
                    background-color: transparent;
                    border: none;
                    height: 100%;
                    position: relative;
                    z-index: 4 !important;
                }

                .tab-content {
                    // background: hsl(232deg, 16%, 15%);
                    // background: var(--dnd5e-color-parchment);
                    // background: url('ui/texture1.webp') no-repeat top center / auto 770px,
                    //     url('ui/texture2.webp') no-repeat bottom center / auto 704px;

                    // background: linear-gradient($content-color, $properties-color-pale);

                    background: linear-gradient(
                        $background-rotation,
                        $parchment-base,
                        $parchment-base 70%,
                        $parchment-darker 90%,
                        $parchment-darkest
                    );

                    border-radius: 5px;
                    border-top: 1px solid #3b3d3f;
                    box-shadow: 0 2px 3px rgb(10, 10, 10 / 10%), 0 0 0 1px rgb(10, 10, 10 / 10%);
                    display: block;
                    height: calc(100% - 60px);
                    // height: fit-content;
                    line-height: 20px;
                    position: relative;
                    text-align: left;
                    z-index: 2;

                    p {
                        // color: #f0f2fc;
                        color: black;
                        font-size: var(--font-size-12);
                        font-style: normal;
                        font-weight: 300 !important;
                        letter-spacing: 0.75px;
                        line-height: 30px;
                        margin-top: 10pt;
                        margin: 10px 15px 10px 0;
                    }

                    .tab-item {
                        color: black;
                        height: 100%;
                        // height: fit-content;
                        opacity: 0;
                        padding: 10px 20px;
                        position: absolute;
                        transition: all $transition-speed;
                        visibility: hidden;
                        width: 100%;
                    }
                }

                .glider {
                    background: $glider-blue;
                    border-radius: 0 0 1px 1px;
                    box-shadow: $glider-blue-shadow;
                    height: 4.5px;
                    padding: 0px 13px;
                    position: absolute;
                    top: 42px;
                    transition: all $transition-speed;
                    width: $tab-width;
                    z-index: 2;
                }
            }
        }
    }
}
