// .tabs {
//   .item {
//     background: rgba(0, 0, 0, 0.125);
//     border: 1px solid;
//     border-radius: 4px;
//     margin: 0 10px 0;
//     padding: 8px 4px;

//     &:hover,
//     &:focus {
//       background: rgba(0, 0, 0, 0.125);
//     }

//     &.active {
//       background: transparent;
//     }
//   }
// }

.tabs {
    flex: 0 0 15px;
    font-family: $font-primary;
    font-size: 19px;
    font-variant-caps: petite-caps;
    font-weight: 500;
    margin-bottom: 5px;

    .item {
        height: 30px;
        line-height: 32px;
        margin: 0 12px;
        border-bottom: 3px solid $header-2;
        color: $header-1;
    }

    .item.active {
        border-bottom: 3px solid $hm3-text;
        color: $hm3-text;
        font-size: 23px;
        // font-weight: 550;
        font-weight: bold;
        text-shadow: none;
    }
}

.sheet-body .tab {
    margin-right: 5px;
}
