.tabs {
    flex: 0 0 15px;
    font-family: $font-primary;
    font-size: 19px;
    font-variant-caps: petite-caps;
    font-weight: 500;
    margin-bottom: 5px;

    .item {
        height: 30px;
        line-height: 32px;
        margin: 0 12px;
        border-bottom: 3px solid $header-2;
        color: $header-1;
    }

    .item.active {
        border-bottom: 3px solid $hm3-text;
        color: $hm3-text;
        font-size: 23px;
        // font-weight: 550;
        font-weight: bold;
        text-shadow: none;
    }
}

.sheet-body .tab {
    margin-right: 5px;
}

$tab-width: 110px;

$background-rotation: 160deg;

$parchment-darkest: hsl(20, 24%, 63%);
$parchment-darker: hsl(20, 24%, 83%);
$parchment-base: hsl(20, 24%, 93%);
$parchment-lighter: hsl(20, 24%, 100%);

$blue-darkest: hsl(195, 100%, 20%);
$blue-darker: hsl(195, 100%, 40%);
$blue-base: hsl(195, 100%, 50%);
$blue-lighter: hsl(195, 100%, 60%);
$blue-lightest: hsl(195, 100%, 80%);

$gold-metallic-darkest: hsl(46, 65%, 22%);
$gold-metallic-darker: hsl(46, 65%, 42%);
$gold-metallic-base: hsl(46, 65%, 52%);
$gold-metallic-lighter: hsl(46, 65%, 62%);
$gold-metallic-lightest: hsl(46, 65%, 82%);

$gold-old-darkest: hsl(41, 18%, 24%);
$gold-old-darker: hsl(41, 18%, 44%);
$gold-old-base: hsl(41, 18%, 54%);
$gold-old-lighter: hsl(41, 18%, 64%);
$gold-old-lightest: hsl(41, 18%, 84%);

$gold-darkest: hsl(37, 100%, 31%);
$gold-darker: hsl(37, 100%, 51%);
$gold-base: hsl(37, 100%, 61%); // #ffb338
$gold-lighter: hsl(37, 100%, 71%);
$gold-lightest: hsl(37, 100%, 91%);

$green-darkest: hsl(116, 36%, 26%);
$green-darker: hsl(116, 36%, 46%);
$green-base: hsl(116, 36%, 56%);
$green-lighter: hsl(116, 36%, 66%);
$green-lightest: hsl(116, 36%, 86%);

$maroon-darkest: hsl(349, 62%, 8%);
$maroon-darker: hsl(349, 62%, 18%);
$maroon-base: hsl(349, 62%, 28%);
$maroon-lighter: hsl(349, 62%, 38%);
$maroon-lightest: hsl(349, 62%, 58%);
$maroon-highlight: hsl(349, 62%, 78%);

$orange-darkest: hsl(23, 100%, 33%);
$orange-darker: hsl(23, 100%, 53%);
$orange-base: hsl(23, 100%, 63%);
$orange-lighter: hsl(23, 100%, 73%);
$orange-lightest: hsl(23, 100%, 93%);

$pink-darkest: hsl(304, 100%, 54%);
$pink-darker: hsl(304, 100%, 74%);
$pink-base: hsl(304, 100%, 84%);
$pink-lighter: hsl(304, 100%, 94%);
$pink-lightest: hsl(304, 100%, 100%);

$silver-lightest: #fff;

$tab-background-active: $parchment-base;
$tab-background-inactive: linear-gradient(180deg, $parchment-darker, $parchment-darkest);
$header-background: linear-gradient(90deg, $maroon-base, $maroon-darker);

$background-maroon: linear-gradient(
    $background-rotation,
    $maroon-highlight,
    $maroon-lightest 30px,
    $maroon-lighter 60px,
    $maroon-base,
    $maroon-darker
);
$background-silver: linear-gradient(
    45deg,
    #999 5%,
    $silver-lightest 10%,
    #ccc 30%,
    #ddd 50%,
    #ccc 70%,
    $silver-lightest 80%,
    #999 95%
);
$background-gold: linear-gradient(
    45deg,
    $gold-darkest 5%,
    $gold-lighter 10%,
    $gold-darker 30%,
    $gold-base 50%,
    $gold-darker 70%,
    $gold-lighter 80%,
    $gold-darkest 95%
);
$background-gold-old: linear-gradient(
    45deg,
    $gold-old-darkest 5%,
    $gold-old-lighter 10%,
    $gold-old-darker 30%,
    $gold-old-base 50%,
    $gold-old-darker 70%,
    $gold-old-lighter 80%,
    $gold-old-darkest 95%
);
$background-gold-metallic: linear-gradient(
    45deg,
    $gold-metallic-darkest 5%,
    $gold-metallic-lighter 10%,
    $gold-metallic-darker 30%,
    $gold-metallic-base 50%,
    $gold-metallic-darker 70%,
    $gold-metallic-lighter 80%,
    $gold-metallic-darkest 95%
);

$sheet-radius: 8px 8px 8px 8px;

$header-shadow-dark: -1px 0 $gold-old-darkest, 0 1px $gold-old-darkest, 1px 0 $gold-old-darkest,
    0 -1px $gold-old-darkest;
$header-shadow-light: -1px 0 $gold-old-lightest, 0 1px $gold-old-lightest, 1px 0 $gold-old-lightest,
    0 -1px $gold-old-lightest;

// Custom styles for item types
$itemv2-background: var(--hm3-itemv2-background);
$itemv2-background-border: var(--hm3-itemv2-background-border);
$itemv2-header-color: var(--hm3-itemv2-header-color);
$itemv2-header-shadow: var(--hm3-itemv2-header-shadow);
$itemv2-tab-text-color: var(--hm3-itemv2-tab-text-color);
$itemv2-hover-color: var(--hm3-itemv2-hover-color);

&.item-v2.weapongear {
    --hm3-itemv2-background: #{$background-gold};
    --hm3-itemv2-background-border: #{$gold-lightest};
    --hm3-itemv2-header-color: #{$gold-old-darkest};
    --hm3-itemv2-header-shadow: #{$header-shadow-light};
}

&.item-v2.artifact {
    --hm3-itemv2-background: #{$background-silver};
    --hm3-itemv2-background-border: #{$silver-lightest};
    --hm3-itemv2-header-color: #{$gold-old-darkest};
    --hm3-itemv2-header-shadow: #{$header-shadow-light};
}

&.item-v2 {
    --hm3-itemv2-background: #{$background-maroon};
    --hm3-itemv2-background-border: #{$maroon-lighter};
    --hm3-itemv2-header-color: #{$gold-old-lightest};
    --hm3-itemv2-header-shadow: #{$header-shadow-dark};
    --hm3-itemv2-tab-text-color: #000;
    --hm3-itemv2-hover-color: #{$maroon-lighter};

    background: $itemv2-background;
    border-radius: $sheet-radius;
    border: thin solid $itemv2-background-border;

    input[type='text']:hover,
    input[type='number']:hover,
    input[type='checkbox']:hover,
    input[type='text']:focus,
    input[type='number']:focus {
        border: 1px solid #111;
        box-shadow: 0 0 8px $itemv2-hover-color;
    }

    &.minimized {
        background: url(/ui/denim075.png);
        border: unset;
    }

    &.minimized header.window-header > .window-title {
        visibility: visible !important;
    }

    header.window-header {
        border: none;
        color: $itemv2-header-color;
        text-shadow: $itemv2-header-shadow;

        > .window-title {
            visibility: hidden;
        }
    }

    section.window-content {
        background: transparent;
        border-radius: $sheet-radius;
        padding: 10px 15px;
        overflow: visible;

        form {
            .tab-header {
                background: linear-gradient(
                    $background-rotation,
                    $parchment-lighter,
                    $parchment-base 20%,
                    $parchment-base 60%,
                    $parchment-darker,
                    $parchment-darkest
                );
                border-radius: 5px;
                border-top: 1px solid #3b3d3f;
                box-shadow: 0 2px 3px rgb(10, 10, 10 / 10%), 0 0 0 1px rgb(10, 10, 10 / 10%);
                line-height: 20px;
                padding: 10px;
                text-align: left;
            }

            .tab-container {
                padding-top: 10px;

                nav.v2 {
                    overflow: hidden;
                    padding: 0;
                    position: relative;
                    top: 1px;

                    a {
                        background: $tab-background-inactive;
                        border-bottom: 0.5pt solid $parchment-base;
                        border-radius: 7px 7px 0 0;
                        border-top: 1px solid #3b3d3f;
                        box-shadow: 1px 1px 2px 1px #231f20;
                        color: #666;
                        cursor: pointer;
                        display: inline-flex;
                        font-size: var(--font-size-14);
                        font-variant-caps: petite-caps;
                        font-weight: 700;
                        justify-content: flex-start;
                        left: 6px;
                        letter-spacing: 0.05em;
                        margin: 12px 2px 0px;
                        padding: 6px 10px;
                        position: relative;
                        text-shadow: none;
                        width: $tab-width;
                    }

                    a:hover {
                        color: #000;
                        text-shadow: none;
                    }

                    .item.active {
                        background: $tab-background-active;
                        color: $itemv2-tab-text-color;
                        z-index: 1;
                    }
                }
            }

            section.sheet-body-v2 {
                background: linear-gradient(
                    $background-rotation,
                    $parchment-base,
                    $parchment-base calc(100% - 200px),
                    $parchment-darker calc(100% - 100px),
                    $parchment-darkest
                );
                border-radius: 5px;
                border-top: 1px solid #3b3d3f;
                box-shadow: 0 2px 3px rgb(10, 10, 10 / 10%), 0 0 0 1px rgb(10, 10, 10 / 10%);
                height: calc(100% - 172px);
                line-height: 20px;
                position: relative;

                .main-content {
                    inset: 0;
                    overflow: hidden auto;
                    padding: 10px 10px 10px 20px;
                    position: absolute;
                    scrollbar-color: $gold-old-base transparent;
                    scrollbar-gutter: stable;
                    scrollbar-width: thin;

                    .tab.active {
                        min-height: 90%;
                        width: 100%;

                        .editor {
                            min-height: 400px;

                            .editor-menu {
                                border-radius: 0;
                                gap: 2px;
                            }

                            .editor-content {
                                padding-top: 10px;

                                > h1 {
                                    text-transform: uppercase;
                                }

                                > h1,
                                > h2,
                                > h3,
                                > h4 {
                                    border: none;
                                }

                                > p {
                                    text-align: justify;
                                    text-indent: 30px;
                                }

                                > p:first-child:first-letter {
                                    background-clip: text;
                                    background-image: linear-gradient(160deg, $maroon-lightest, $maroon-base);
                                    color: $maroon-base;
                                    color: transparent;
                                    font-family: 'Cardinal';
                                    font-weight: 600;
                                    initial-letter: 2.5 2;
                                    margin-right: 0.5em;
                                    text-shadow: 4px 4px 8px $maroon-darkest;
                                    text-transform: uppercase;
                                }

                                > p:first-child,
                                > h1 + p {
                                    text-indent: 0;
                                }

                                > h1 + p:first-letter {
                                    background-clip: text;
                                    background-image: linear-gradient(160deg, $maroon-lightest, $maroon-base);
                                    color: $maroon-base;
                                    color: transparent;
                                    font-family: 'Cardinal';
                                    font-weight: 600;
                                    initial-letter: 2;
                                    margin-right: 0.5em;
                                    text-shadow: 4px 4px 8px $maroon-darkest;
                                    text-transform: uppercase;
                                }

                                table {
                                    background-color: hsla(349, 62%, 58%, 0.05);
                                    border: none;

                                    tr:nth-child(even) {
                                        background-color: hsla(349, 62%, 38%, 0.2);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
