{{#> item_layout_partial  }}

{{!-- Properties Tab --}}
<div class="tab properties" data-group="primary" data-tab="properties">
    {{> item_standard_partial}}
    {{#if isGM}}
    <div class="resource artifact flexrow">
        <input
            type="checkbox"
            id="system.hidden"
            name="system.hidden"
            value="{{ idata.hidden }}"
            data-dtype="Boolean"
            {{checked
            idata.hidden}} />
        <label for="system.hidden" class="resource-label">Hidden</label>
        If checked, the effect is not displayed to the players.
    </div>
    <div class="resource artifact flexrow">
        <input
            type="checkbox"
            id="system.selfDestroy"
            name="system.selfDestroy"
            value="{{ idata.selfDestroy }}"
            data-dtype="Boolean"
            {{checked
            idata.selfDestroy}} />
        <label for="system.selfDestroy" class="resource-label">Self Destroy</label>
        If checked, the item & effect will be deleted after completion.
    </div>
    {{/if}}
</div>

{{/item_layout_partial}}
