{{#> item_layout_partial container=true }}

<div class="grid grid-fixed-row grid-3col">
    {{> item_quantity_partial}}
    {{> item_weight_partial}}
    {{> item_value_partial}}
</div>
{{> item_standard_partial}}
{{> item_unknown_value_partial}}
{{> item_artifact_partial}}

{{/item_layout_partial}}
