{{#> item_layout_partial  }}

{{!-- Properties Tab --}}
<div class="tab properties" data-group="primary" data-tab="properties">
    <div class="grid grid-fixed-row grid-3col">
        <div class="resource">
            <label class="resource-label">Skill Base (SB)</label>
            <input type="text" name="system.skillBase.value" value="{{ idata.skillBase.value }}" data-dtype="Number"
            {{#if idata.skillBase.formula}}readonly{{/if}} />
        </div>
        <div class="resource">
            <label class="resource-label">Mastery Level (ML)</label>
            <input type="number" name="system.masteryLevel" value="{{ idata.masteryLevel }}" data-dtype="Number" />
        </div>
        <div class="resource">
            <label class="resource-label">Fatigue</label>
            <input type="number" name="system.fatigue" value="{{ idata.fatigue }}" data-dtype="Number" />
        </div>
    </div>
    <div class="resource">
        <label class="resource-label tooltip">
            Skill Base Formula
            <span class="tooltiptext">
                Enter a formula to automatically calculate skill base. For example: "@str, @sta, @wil, Ulandus, Aralius:2". This will
                average strength, stamina, and will; if Ulandus sunsign, add 1; if Aralius sunsign, add 2. There must always be exactly
                three attributes. Valid attributes are: @str, @sta, @dex, @agl, @int, @aur, @wil, @eye, @hrg, @sml, @voi, @cml, @mor
            </span>
        </label>
        <input type="text" name="system.skillBase.formula" value="{{ idata.skillBase.formula }}" data-dtype="String" />
        {{#unless idata.skillBase.isFormulaValid}}
        <div class="error">Error: Invalid SkillBase Formula!</div>
        {{/unless}}
    </div>
    {{> item_standard_partial}}
    {{> item_esoteric_combat_partial}}
</div>

{{/item_layout_partial}}
