{{#> item_layout_partial nameReadOnly=(not hasRwPermission) list=config.traitTypes }}

{{!-- Properties Tab --}}
<div class="tab properties" data-group="primary" data-tab="properties">
    <div class="resource">
        <label class="resource-label">Source</label>
        <input type="text" name="system.source" value="{{ idata.source }}" data-dtype="String"
        {{#unless hasRwPermission}}disabled{{/unless}} />
    </div>
    <div class="resource">
        <label class="resource-label">Note</label>
        <input type="text" name="system.notes" value="{{ idata.notes }}" data-dtype="String" />
    </div>
    {{#if isPsycheTrait}}
    <div class="resource">
        <label class="resource-label">Severity</label>
        <select name="system.severity">
            {{selectOptions config.psycheSeverity selected=idata.severity valueAttr="key" labelAttr="label"}}
        </select>
    </div>
    {{/if}}
</div>

{{/item_layout_partial}}
